# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\微信\WeChat Files\wxid_upnlarhx7a8o22\FileStorage\File\2021-10\FourArithmetic(2)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
